.hero {
    max-width: 1600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;

    background: $hero-footer-bg-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/content/hero-bg.jpg");
}

.hero__title {
    // font-weight: 900;
    // font-size: 44px;
    // line-height: 1.36;
    // letter-spacing: 0.06em;
    @include wordSize(44px, 1.36, 900, 0.06em);
    text-transform: uppercase;
    text-align: center;

    color: $white-text-color;
}

.hero__btn {
    @extend %button;

    margin-top: 30px;
}
