.team {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color:$bg-color
}

.team .main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    color: $title-color;
}

.description {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-top: 50px;
}

.description .wrapper {
    padding: 30px 32px;

}

.description .item {
    margin: 15px;
    text-align: center;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.description .img {
    display: block;
}

.description .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    color: $title-color;
}

.description .text {
    font-size: 16px;
    line-height: 1.19;
    margin: 10px 0 0;
}

.social-networks {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.network-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms $time-distribution-function, color 250ms $time-distribution-function;

    color: $icon-current-color;
}

.network-link:hover,
.network-link:focus {
    background-color:$accent-color;
    color:$white-text-color;
}

.network-icon {
    fill: currentColor;
}

.social-networks .network-icon {
    width: 20px;
    height: 20px;
}