
.form-footer--wrapper {
    display: flex;
    justify-content: space-between;

}

.form-footer--group .text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-text-color);

    margin-bottom: 20px;
}

.form-footer--wrapper .mail {
    width: 358px;
    height: 50px;

    margin-right: 12px;
    padding-left: 16px;
    padding-right: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--hero-footer-bg-color);

    color: var(--white-text-color);
}

.form-footer--wrapper .mail::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);

}

.form-footer--wrapper .btn {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 700;

    width: 200px;

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    padding: 10px 28px;
    overflow: hidden;

    border: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--accent-color);
    color: var(--white-text-color);

    transition: background-color 250ms var(--time-distribution-function), color 250ms var(--time-distribution-function);
}

.form-footer--wrapper .btn:hover {
    background: var(--bg-color-white);
    color: var(--accent-color);
}

.form-footer--wrapper .btn::before {
    content: '';
    width: 24px;
    height: 24px;

    position: absolute;
    top: 13px;
    right: 28px;

    background: url(../images/system/icon-send-white.svg) no-repeat;

    transition: transform 250ms var(--time-distribution-function);
}

.form-footer--wrapper .btn:hover:before {
    transform: translateY(-24px);
}

.form-footer--wrapper .btn::after {
    content: '';
    width: 24px;
    height: 24px;

    position: absolute;
    bottom: -24px;
    right: 28px;

    background: url(../images/system/icon-send-accent.svg) no-repeat;

    transform: translateY(24px);
    transition: transform 250ms var(--time-distribution-function);
}

.form-footer--wrapper .btn:hover::after {
    transform: translateY(-37px);
}