
.header-container {
    display: flex;
}

.header .logo {
    margin-right: 93px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    align-items: center;

    border-bottom: 1px solid #ECECEC;
    background-color: #fff;
}

.header .contacts {
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
}

.nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;

    color: var(--title-color);
}

.nav .item+.item {
    margin-left: 50px;
}

.contacts {
    margin-left: auto;
}

.contacts .item+.item {
    margin-left: 50px;
}

.contacts .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;

    display: flex;
    align-items: center;

    transition: 250ms var(--time-distribution-function);

    color: var(--primary-text-color);
}

.icon-item-email {
    width: 16px;
    height: 12px;
    margin-right: 10px;

    fill: currentColor;
}

.icon-item-smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;

    fill: currentColor;
}

.header .link {
    transition: color 250ms var(--time-distribution-function);
}

.header .link:hover,
.header .link:focus {
    color: var(--accent-color);
}

.nav .link.active {
    position: relative;
    color: var(--accent-color);
}

.nav .link.active::after {
    position: absolute;
    bottom: -1px;
    left: 0;

    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;

    background: var(--accent-color);

}