.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    border-bottom: 1px solid #ececec;
    background-color: #fff;
}

.header-container {
    @extend .container;
    display: flex;
}

.header__logo {
    margin-right: 93px;
    @extend %logo;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__menu {
    display: flex;
}

.menu__link {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 32px 0;
    color: $title-color;
    transition: color 250ms $time-distribution-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &--active {
        position: relative;
        color: $accent-color;
        &::after {
            position: absolute;
            bottom: -1px;
            left: 0;

            content: "";
            height: 4px;
            width: 100%;
            border-radius: 2px;

            background: $accent-color;
        }
    }
}

/* 
?.menu__item + .menu__item {
    ?margin-left: 50px;
}
*/

.menu__item {
    & + & {
        margin-left: 50px;
    }
}

.header__contacts {
    display: flex;
    margin-left: auto;
}

.contacts__item + .contacts__item {
    margin-left: 50px;
}

.contacts__link {
    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    @include wordSize(14px, 1.14, 900);
    letter-spacing: 0.02em;
    padding: 32px 0;

    display: flex;
    align-items: center;

    transition: 250ms $time-distribution-function;

    color: $primary-text-color;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;

    &--email {
        width: 16px;
        height: 12px;
    }

    &--smartphone {
        width: 10px;
        height: 16px;
    }
}
